body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    padding: 10px 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid #444;
}

h1 {
    color: #fff;
    margin: 0;
    text-align: center;
    flex-grow: 1;
    font-size: 1.8em;
}

.back-button, .order-action-link {
    background-color: #C23D5C;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    margin: 10px;
    text-decoration: none;
    font-size: 16px;
}

.back-button:hover, .order-action-link:hover {
    background-color: #A32A44;
}

.content {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.customer-info {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #333;
    border-radius: 10px;
}

.customer-info p {
    margin: 5px 0;
    line-height: 1.5;
}

.order-details {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    overflow-x: auto;
    margin-bottom: 20px;
}

.order-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.order-table th, .order-table td {
    border: 1px solid #555;
    padding: 10px;
    text-align: left;
    font-size: 14px;
}

.order-table th {
    background-color: #444;
    color: #fff;
    text-transform: uppercase;
}

.order-table td {
    background-color: #555;
    color: #fff;
}

.total-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 18px;
}

.total-container span {
    font-weight: bold;
}

.actions {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.order-action-link {
    background-color: #C23D5C;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    margin: 10px;
    text-decoration: none;
    font-size: 16px;
}

.order-action-link:hover {
    background-color: #A32A44;
}
