body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    padding: 10px 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid #444;
}

.header-left, .header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-left button,
.header-right button {
    background-color: #C23D5C;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 10px;
    font-size: 16px;
}

.header-left button:first-child,
.header-right button:first-child {
    margin-left: 0;
}

.header-left button:hover,
.header-right button:hover {
    background-color: #A32A44;
}

.view-order-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.view-order-button span {
    font-size: 18px;
    font-weight: bold;
}

.view-order-button p {
    margin: 0;
    font-size: 14px;
    font-weight: normal;
}

.container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

#productosContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.producto-item {
    background-color: #333;
    width: 300px; /* Ajustar ancho */
    padding: 10px; /* Reducir padding */
    border-radius: 8px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    margin-bottom: 20px;
    transition: transform 0.2s;
    height: 90%; /* Reducir altura en un 20% */
}

.producto-item:hover {
    transform: translateY(-5px);
}

.producto-item h1 {
    font-size: 1.1em; /* Ajustar tamaño del texto */
    margin-bottom: 5px;
    text-align: center;
}

.product-info .price {
    font-size: 1.6em; /* Ajustar tamaño */
    color: #C23D5C;
    text-align: center;
}

.imagen {
    height: 140px; /* Reducir altura de la imagen */
    width: auto;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.unidades {
    display: flex;
    justify-content: center; /* Centrar los elementos */
    align-items: center;
    margin: 10px 0;
}

.unidades button {
    padding: 5px 8px;
}

.unidades input {
    width: 50px;
    text-align: center;
    border: none;
    padding: 5px;
    background-color: #444;
    color: #fff;
    border-radius: 4px;
    margin: 0 5px;
}

button {
    padding: 6px 10px; /* Reducir padding */
    margin-top: 10px;
    font-size: 14px; /* Tamaño de texto ajustado */
    width: 100%;
    box-sizing: border-box;
    background-color: #C23D5C;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #A32A44;
}

@media (min-width: 1024px) {
    .producto-item {
        width: 30%; /* Permitir hasta 3 productos por fila */
    }
}

@media (max-width: 870px) {
    .producto-item {
        width: 45%; /* Ajuste para pantallas medianas */
    }

    .back-button, .view-order-button {
        width: 100%;
    }

    .unidades {
        flex-direction: column; /* Cambia la orientación en pantallas medianas */
    }

    .unidades input {
        margin: 10px 0;
        width: 80px;
    }
}

@media (max-width: 480px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .producto-item {
        width: 100%; /* Ajuste para pantallas pequeñas */
    }

    button {
        font-size: 14px;
    }
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.modal-content {
    max-width: 90%;
    max-height: 90%;
    margin: auto;
    display: block;
    border-radius: 10px;
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #A32A44;
    text-decoration: none;
    cursor: pointer;
}
